# 파이썬 자료구조

- 하나의 변수에 여러개의 데이터를 들고다니고 싶을 때
- 데이터를 들고다닐 수 있는 다양한 형태의 상자(파이썬 자료구조)

## 1. List 리스트 (대괄호 사용)

- 데이터의 순서 존재
- 중복 값 사용 가능
- 데이터 추가, 변경, 삭제 가능

In [3]:
# 리스트 (List) 자료구조
data1 = [20, 30, 50, 10, 90]

In [4]:
data1

[20, 30, 50, 10, 90]

In [5]:
# 기존의 data1 리스트 맨 끝에 새로운 150 숫자 데이터 추가
# .append() 함수
# 함수 : 파이썬에서 특정 기능을 수행하기 위해 프로그래머들이 만들어 놓은 구문 
data1.append(150)

In [6]:
data1

[20, 30, 50, 10, 90, 150]

In [7]:
#data1 리스트 내에 있는 90이라는 데이터를 제거
data1.remove(90)

In [8]:
data1

[20, 30, 50, 10, 150]

## 2. Tuple 튜플 (소괄호 사용)

- 데이터의 순서 존재
- 중복 허용
- 데이터 추가, 삭제, 변경하는 것이 불가능

In [10]:
data2 = (100, 100, 40, 20, 50)
data2

(100, 100, 40, 20, 50)

In [11]:
type(data2) # 데이터 자료구조 확인 가능

tuple

## 3. Set 셋 (중괄호 사용)

- 데이터 순서 X
- 중복 불가능
- 데이터 추가, 삭제, 변경 가능
- 집합 연산 가능 (교집합, 합집합, 차집합)

In [12]:
data3 = {30,20,100,50,20,20,20,20}
data3

{20, 30, 50, 100}

In [13]:
data4 = {20,30,40,50,60}
data5 = {50,60,70,80}

In [14]:
# 교집합
data4 & data5

{50, 60}

In [15]:
# 합집합
data4 | data5

{20, 30, 40, 50, 60, 70, 80}

In [16]:
# 차집합
data4 - data5

{20, 30, 40}

In [17]:
data5- data4

{70, 80}

In [19]:
# 대상차집합 연산 수행 (교집합을 제외한 나머지)
data4 ^ data5

{20, 30, 40, 70, 80}

## 4. Dictionary 딕셔너리 (중괄호 사용)

- 키:값 쌍으로 구성

In [20]:
data6 = {'이름':'홍길동', '나이':30, '지역':'서울'}
data6

{'이름': '홍길동', '나이': 30, '지역': '서울'}

In [21]:
# 특정 딕셔너리의 키를 통해, 해당 값이 출력되는 형태 (인덱싱)
data6['이름']

'홍길동'

In [22]:
data6['나이']

30

In [23]:
data6['지역']

'서울'